$color1: blueviolet!important;
$color2: red!important;
body {
	color: $color1;
}

thead {
	tr {
		th {
			color: $color1;
		}
	}
}

a:visited {
	color:$color:1;
}

a:link {
	color: $color2;
}

a:hover {
	color: $color2;
}

.navbar {
	.navbar-nav {
		&.icon-md {
			li> a:link {
				color: $color1;
				path {
					fill: $color1;
				}
				polygon {
					fill: $color1;
				}
			}
			li> a {
				svg:hover {
					path {
						fill: #00c7cc;
					}
				}
			}
			li {
				&.icon3> a {
					svg:hover {
						path {
							fill: #97d629 !important;
						}
					}
				}
				&.icon4> a {
					svg:hover {
						path {
							fill: #ea501b !important;
						}
					}
				}
				&.icon5> a {
					svg:hover {
						path {
							fill: #024953 !important;
						}
					}
				}
				&.icon6> a {
					svg:hover {
						path {
							fill: #d49e14 !important;
						}
					}
				}
			}
		}
	}
	&.navbar-default {
		.container-fluid {
			border-bottom: 1px solid $color1;
		}
	}
}

#main-region {
	#wizard-view-region {
		.wizard {
			.section {
				&.active {
					span {
						color: $color2;
					}
					.step {
						color: white!important;
						background-color: $color2;
					}
				}
			}
		}
	}
}

.icon2 {
	.icon-dashboard-tenants {
		&:hover {
			color: #cccccc !important;
		}
	}
}

#app-wrapper {
	#main-region {
		h1 {
			svg {
				fill: $color1;
			}
		}
		a {
			h3 {
				color: $color1;
				svg {
					circle {
						fill: $color1;
					}
				}
				&:hover {
					color: $color2;
					svg {
						circle {
							fill: $color2;
						}
					}
				}
			}
		}
		select {
			&.form-control {
				border-color: $color1;
			}
		}
		input {
			&.form-control {
				border-color: $color1;
			}
		}
		.checkbox {
			label {
				color: white!important;
				background: $color2;
			}
		}
		.pagers {
			button {
				&.btn {
					border-color: $color1;
					color: $color1;
					&:hover {
						border-color: $color2;
						color: $color2;
					}
				}
				&#next-btn {
					border-color: $color2;
					background-color: $color2;
					color: white!important;
				}
			}
		}
	}
}

.main-container {
	#main-region {
		.container {
			h1 {
				color: $color2;
				svg {
					fill: $color1;
					path {
						fill: $color1;
					}
					polygon {
						fill: $color1;
					}
				}
			}
			h2 {
				color: $color1;
			}
			h3 {
				a {
					color: $color1;
					svg {
						color: $color1;
						circle {
							fill: $color1;
						}
					}
					&:hover {
						color: $color2;
						svg {
							color: $color2;
							circle {
								fill: $color2;
							}
						}
					}
				}
			}
			.table-responsive {
				.table {
					thead {
						tr {
							th {
								color: $color1;
							}
						}
					}
					tr {
						td {
							color: $color1;
							svg {
								circle {
									fill: $color1;
								}
								polygon {
									fill: white!important;
								}
							}
							a {
								color: $color1;
								&:hover {
									color: white;
									color: $color2;
								}
							}
						}
					}
				}
			}
			.header-payments-table {
				#charts-toggle-btn {
					color: $color1;
					&:hover {
						color: $color2;
					}
				}
				tbody {
					tr {
						th {
							color: $color1;
						}
						td {
							color: $color1;
						}
					}
				}
			}
			.pagination {
				li {
					a {
						color: $color2;
						&:hover {
							color: white!important;
							background-color: $color2;
						}
						.icon-icon-chevron-left,
						.icon-icon-chevron-right {
							.path1::before {
								color: $color1;
							}
						}
					}
					&.active {
						a {
							color: white!important;
							background-color: $color2;
						}
					}
				}
				.page {
					a {
						background-color: $color2;
					}
				}
			}
			.items-page {
				color: $color1;
			}
			select {
				&.form-control {
					border-color: $color1;
					&:focus {
						border-color: $color2;
					}
				}
			}
			input {
				&.form-control {
					border-color: $color1;
					&:focus {
						border-color: $color2;
					}
				}
			}
			.nav {
				li {
					a {
						color: $color2;
						border-bottom-color: $color2;
						&:hover {
							color: $color1;
						}
					}
					border-left: 1px solid $color1;
				}
			}
			#message-folders-view {
				li {
					&.active {
						a {
							color: $color2;
							border-bottom-color: $color2;
						}
					}
					a {
						color: $color1;
					}
				}
			}
		}
	}
}

.pagination {
	li {
		a {
			color: $color2;
			&:hover {
				color: white!important;
				background-color: $color2;
			}
			.icon-icon-chevron-left,
			.icon-icon-chevron-right {
				.path1::before {
					color: $color1;
				}
			}
		}
		&.active {
			a {
				color: white!important;
				background-color: $color2;
			}
		}
	}
	.page {
		a {
			background-color: $color2;
		}
	}
}

.perks_green {
	border-color: $color2;
	color: $color2;
}

.perks .get_started {
	border-color: $color2;
	background-color: $color2;
	color: white!important;
	&:hover {
		background-color: #f2f2f2!important;
		color: $color2;
	}
}
